/*   Start of page Header */
header {
  background-color: #486796;
  text-align: center;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
}

h1 {
    color: #FFCB05;
    font-size: 50px;
    text-shadow: 2px 2px rgb(43, 42, 42);
    text-align: center;
}

.nav {
  float: right;
  color: #FFCB05;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  position: absolute;
  right: 30px;
  top: 20px;
}

.nav-link {
  text-decoration: none;
  color: #FFCB05;
  padding: 15px 15px;
}

a {
  font-size: 20px;
}
/*   End of Header */

p {
  font-family: "Darumadrop One", cursive;  
  font-size: 20px;
  text-align: left;
  color: rgb(0, 0, 0);
}

body {
    text-align: center;
    background-color:  #3466AF;
    }    

.search-bar  {
  border:  #CC0000 solid 2px;
  border-radius: 18px;
  height: 25px;
  width: 140px;
  
}

ul {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 100px;
  border: none;
  justify-content: center;
}

ul li {
  padding: 10px;
  list-style: none;
}

.modal-close {
  float: right;
  appearance: none;
  border: 0;
  background: none;
  color: #050505;
  text-decoration: underline;
}

 .btn-primary{
  background-color: #3466AF !important;
  border-color: #3466AF !important;
  width: 75%;
} 

.btn-primary:hover{
  opacity: .8;
}

span {
  color: #a70808;
}

img {
  width: 250px; 
}

.pokeball {
  width: 160px;
  display: inline-block;
  height: 8em;
  filter: drop-shadow(12px 12px 7px rgba(166, 180, 35, 0.5));
}

footer{
    background:#486796;
    height: 200px;
}

.footer-text {
  text-align: center;
  
}

.social-media {
  width: 30px;
  padding: 2px;
}

.portfolio-website {
  width: 28px;
  padding: 2px;
}

.footer-icons {
  margin-left: 48%;
}

 @media all and (max-width: 500px) {
    .pokemon-list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      border-style: none;
    }
     @media all and (min-width: 500px) and (max-width: 750px) {
    .pokemon-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      border-style: none;
    }
  }
  @media all and (min-width: 750px) and (max-width: 900px) {
    .pokemon-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      border-style: none;
    }
  }
  @media all and (min-width: 900px) and (max-width: 1150px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    border-style: none;
  }
}
 }